
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf8">
<meta id="viewport" name="viewport" content="width=device-height">
<meta name="apple-mobile-web-app-capable" content="true">
<title>Moya</title>
<base href="/">

<link rel="apple-touch-icon-precomposed" href="http://<%= host %>/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="http://<%= host %>/favicon.ico">

<link rel="stylesheet" href="http://<%= host %>/static/moya.css">
<script type="text/javascript">
window.has = function(){ return true; }

window.onload = function() {
    var value = localStorage['source'];
    document.getElementById('source').value = value;
    if (value) {
        Moya.debugSource(value);
    }
}

window.onunload = function() {
    var value = document.getElementById('source').value;
    localStorage['source'] = value;
}

</script>
<script type="text/javascript">self.appjsBase="http://<%= host %>/app.js"</script>
<script type="text/javascript">self.appjsVersion="<%= version %>"</script>
<script type="text/javascript">self.appjsDebugMode=true</script>
<script type="text/javascript" src="http://<%= host %>/moya.js"></script>
</head>
<body>
<textarea id="source"></textarea>
</body>
</html>
